[Unit]
Description=Builds and install new kmods from akmod for a given kernel

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/akmods --from-kernel-posttrans --kernels %i

[Install]
WantedBy=multi-user.target
